.form-group {
    margin-left:20%;
}

.custom-control{
    margin-left:20%;
}

.btn_custom{

    background: linear-gradient(to right,#a2ccb6 0%,#fceeb5 50%,#ee786e 100%);
    background-size: 500%;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    color: #fff;
    cursor: pointer;
    font: 1.5em Raleway, sans-serif;
    letter-spacing: .05em;
    outline: none;
    width: 220px;
    height: 50px;
    
}
  
.btn:hover{
      animation-name: gradient;
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      
  
}
  
@keyframes gradient{
  
    0% {
          background-position: 0% 50%;
    }
    100%{
          background-position: 100% ;
    }
}

.btn-sub{
    background: linear-gradient(to right,#88cca9 0%,#c0b27a 40%,#c55e55 80%);
    background-size: 500%;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    color: #fff;
    cursor: pointer;
    font: 1.5em Raleway, sans-serif;
    letter-spacing: .05em;
    outline: none;
    width: 220px;
    height: 50px;
}

.btn_groups{
    margin-left: 18%;
}

@media screen and (max-width:720px){
    .btn-sub{
        margin-bottom: 10px;
    }
    
}
form{
    height: 90vh;
}

